  <pt-project
    heading="Idealno Venčanje"
    description="A web planning platform for efficient wedding planning"
    title="nana"
    videoUrl="/assets/videos/Nevena.mp4"
    projectUrl="https://idealno-vencanje-staging.netlify.app/"
    [tags]="['Angular', 'ASP.NET Core', 'MSSQL', 'Azure']">
  </pt-project>

  <pt-project
    heading="Idealno Venčanje"
    description="A web planning platform for efficient wedding planning"
    title="nana"
    videoUrl="/assets/videos/idealwedding.webm"
    projectUrl="https://idealno-vencanje-staging.netlify.app/"
    [tags]="['Angular', 'ASP.NET Core', 'MSSQL', 'Azure']">
  </pt-project>
