@use "../../scss/variables" as variables;

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

video {
  width: 760px;
  height: 340px;
}
